body {
    background-color: rgb(180, 180, 180);
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}
#buttons {
    margin-right: 2vw;
}

#employee-form {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.colored {
    background-color: rgb(66, 144, 207);
    color: white;
}
#form-section {
    margin-top: 5vh;
}
.table-logo {
    text-align: center;
}
.tabs {
    display: flex;
    flex-direction: column;
}
.hidden {
    display: none;
}
.tab-button {
    margin-bottom: 2vh;
}

@media (min-width: 560px) {
    body {
        flex-direction: row;
    }
    #buttons {
        margin-right: 0;
    }
    #form-section {
        margin: auto;
    }
    #table-section {
        margin: auto;
    }
}
@media (min-width: 1000px) {  
     
    
}