@font-face {
    font-family: airstream;
    src:url(./fonts/Airstream-webfont.svg);
    src:url(./fonts/Airstream-webfont.woff);
}
@font-face {
    font-family: lakeshor;
    src: url(./fonts/LAKESHOR-webfont.svg);
    src: url(./fonts/LAKESHOR-webfont.woff);
}
html {
    height: 100%;
}
body {
    --thumbnails-image-width: 25vw;
    --thumbnails-image-height: 15vw;
    --thumbnails-title-height: calc(var(--thumbnails-image-height) * 0.33);
    --details-image-width: 90vw;
    --details-image-height: 50vw;
}
body {
    height: 100%;
    background-color: rgb(255, 223, 208);
    display: flex;
    flex-direction: column;
    margin: 0;
}
.logo {
    display: block;
    text-align: center;
    background-color: rgb(255, 87, 87);
    font-size: 5vw;
    text-transform: uppercase;
    font-family: lakeshor;
}
.main-class {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;   
}
.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.detail-image {    
    width: var(--details-image-width);
    height: var(--details-image-height);
    border-radius: 25%;
}
.details-title {
    display: block;
    background-color: rgb(0, 136, 0);    
    font-size: 9vw;
    font-family: airstream;
    padding: 0 1vw 1vh 0;
    position: absolute;
    bottom: 3.5vh;
    left: -2vw;
}
.details-frame {
    position: relative;
}
.thumbnails-list {
    display: flex;
    flex-wrap: wrap;
    max-height: 38vh;
    overflow-y: scroll;
    list-style: none;
    justify-content: space-around;
    padding-left: 0;    
}
.thumbnails-item {
    border: solid 2px rgb(0, 136, 0);
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-radius: 30%;
    overflow: hidden;
    min-height: calc(var(--thumbnails-image-height) + var(--thumbnails-title-height) );
}
.thumbnails-item:hover {
    transform: scale(1.1);
    margin-left: 1vw;
}
.thumbnails-anchor {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
}
.thumbnails-image {
    display: block;
    width: var(--thumbnails-image-width);
    height: var(--thumbnails-image-height);
}
.thumbnails-title {
    display: block;
    text-align: center;
    background-color: antiquewhite;
    font-size: 5vw;
    color: green;
    align-self: stretch;    
}
@media (min-width: 560px) {
    body {
        --thumbnails-image-width: 15vw;
        --thumbnails-image-height: 7vw;
        --thumbnails-title-height: calc(var(--thumbnails-image-height) * 0.43);
        --details-image-width: 60vw;
        --details-image-height: 30vw;
    }
    .main-class {
        flex-direction: row;        
    }
    .thumbnails-list {
        order: -1;
        flex-direction: column; 
        flex-wrap: nowrap;
        max-height: 75vh;
        justify-content: flex-start;
        align-items: flex-start;
        min-width: 20vw;        
    }
    .thumbnails-item {
        max-width: 15vw;
        margin-bottom: 2vh;
    }
    .thumbnails-title {
        font-size: 3vw;
    }        
    .logo {
        font-size: 7vh;        
    }
    .logo-title {
        margin: 10px 10px;
    }
    .details-container {
        justify-content: center;
    }
    .details-title {
        font-size: 6vw;
    }

}
@media (min-width: 1000px) {    
    .detail-image {
        max-height: 70vh;
        max-width: 200vh;
    }       
}